html,
body {
	@apply h-full overflow-hidden;
}
.bg-mainpattern {
	background-color: #fceff0;
	background-image: url('http://locakhost:5173/1177561_810.jpeg');
}
* {
	font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
	display: none;
}
	